@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500..700&display=swap');

#app {
  max-width: 1920px;
  margin: 0 auto;
  font-weight: normal;
}
/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
} */

@media (hover: hover) {
  /* a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  } */
}

